*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
p
{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
}
h1 
{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-left: auto;
    margin-top: auto;
    font-size: 56px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-left: auto;
    margin-top: auto;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
body{
    font-family: sans-serif;
}
header
{
    position: fixed;
    top : 0;
    left: 0;
    right: 0;
    background: gray;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px rgb(204, 17, 17);
} 
header .logo
{
    font-size: 30px;
    font-weight: 900;
    color: #000;
    transition: .5s;
} 
header .logo:hover
{
    transform: scale(1.2);
}
header nav ul li 
{
    position: relative;
    float: left;
    padding: 0px;
    margin: 10px;
    list-style: none;
    text-decoration: none;
}
header nav ul li a
{
    padding: 15px;
    color: #000;
    font-size: 20px;
    display: block;
    text-decoration: none;
    transition: 1s;
}
header nav ul li a:hover
{
    background: #000;
    color: #fff;
    transform: scale(1.2);
}
.UpperIMG
{
    margin-top: 50px;
    background:url(https://wallpaperaccess.com/full/1111946.jpg) no-repeat;
    background-size:cover;
    background-position: center center;
    width: 100%;
    height: 400px;
}
main img{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
main section{
    width: 20%;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 30px;
    transition: 1s;
}
main section:hover{
    transform: scale(1.2);
}
main section ol{
    margin-left: 100px;
    font-size: 30px;
}
main section ol li a{
    color: #000; 
}
main section ol li a:hover{
    background-color: rgb(152, 234, 234);
    color: darkblue;
}

main aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #000000;
}
main article{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-items: center;
}
main blockquote p {
    text-align: center;
    margin-left: auto;
    padding: 10px;
    border-radius: 5px;
}
main blockquote p::before {
    content: '\201C';
}

main blockquote p::after {
    content: '\201D';
}
.qAuthor {
    text-align: right;
    font-size: 30px;
    font-weight: bold;
}
.bottomLinks, .bottomLinks li {
    margin: 0;
    padding: 0;
  }
.bottomLinks {
    text-align: center;
    margin-bottom: 20px;
  }
.bottomLinks li {
    display: inline-block;
  }
.bottomLinks a {
    font-size: 30px;
    display: block;
    margin-inline: 50px;
    padding: 10px 15px;
    color: #000000;
    text-decoration: none;
    transition: 1s;
  }
.bottomLinks a:hover {
    background: rgb(0, 0, 0);
    color: white;
    transform:scale(1.2f);
  }
footer
{
    position:relative;
    bottom: 100%;
    left: 0;
    right: 0;
    background: gray;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px rgba(0,0,0);
}
footer .fter
{
    font-size: 30px;
    font-weight: 900;
    color: #000;
    transition: .5s;
    text-decoration: none;
} 
footer .fter:hover
{
    transform: scale(1.2);
}
footer ul li 
{
    position:relative;
    float: left;
    padding: 0px;
    margin: 20px;
    list-style: none;
}
footer ul li a
{
    padding: 15px;
    color: #000;
    display: block;
    font-size: 20px;
}
footer ul li a:hover
{
    background: #000;
    color: #fff;
}