*{
    line-height: 50px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ECB365;
}
.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    position: relative;
}

a{
    text-decoration: none;
}
.main__p{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
}
.main__h1 
{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.main__h2{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-color: #041C32;

    font-family: 'Times New Roman', Times, serif;
}
.page__body{
    font-family: sans-serif;
    background-color: #041C32;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ECB365;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 8%;
    box-shadow: 0 5px 15px #3a94bd;
    
    grid-template-rows: 1fr;
    grid-gap: 0;
    align-items: center;
  }

  .header > * {
    grid-column: span 1;
  } 
.header__logo
{
    text-align: center;
    background-color: #000;
    font-size: 30px;
    font-weight: 900;
    transition: .5s;
    max-width: 200px;
}

.header__logo:hover
{
    transform: scale(1.2);
}
.header__nav{
grid-column: 3/4;
    background-color: #ECB365;
}
.header__link{
    background-color: #ECB365;
}
.nav__item
{
    background-color: #064663;
    position: relative;
    float: left;
    padding: 0px;
    margin: 10px;
    list-style: none;
    text-decoration: none;
}
.nav__link
{
    padding: 10px 40px;
    color: #ECB365;
    font-size: 25px;
    display: block;
    text-decoration: none;
    transition: 1s;
}
.nav__link:hover
{
    color: #064663;
    color: #ECB365;
    transform: scale(1.2);
}
.nav__sublist{
    list-style: none;
    text-align: center;
    position: absolute;
    width: 140%;
    background: white;
    display: none;
    margin: 0px 0px 0px -75px;
}
.nav__subitem:hover{
    background-color: #ECB365;
}
.nav__item:hover > ul {
    display: initial;
}
.nav_subitem{
    width: 20%;
    margin-left: 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    justify-content:space-between;
    align-items: center;
}
.nav__sublink{
    font-size: 32px;
    color: #064663;
    text-align: center;
}
 
.UpperIMG
{
    margin-top: 80px;
    background:url(https://wallpaperaccess.com/full/1111946.jpg) no-repeat;
    background-size:cover;
    background-position: center center;
    width: 100%;
    height: 400px;
}
.aside__img{
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
}
.main__section{
    width: 30%;
    padding: 30px;
    background-color: #064663   ;
    margin-bottom: 20px;
    margin-left: 30px;
    transition: 1s;
}
.section__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section__item{
    background-color: #064663;
}
.section__link{
    background-color: #064663;
    font-size: 30px;
}
.section__link:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.main__OOPadvantages{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
}
.main {
    display: grid;
    grid-template-rows: repeat(2, 0.5fr);  
    background-color: #041C32;
}
.main__hr{
    height: 1%;
}
.main__aside {
    padding-top: 60px;
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow:inset 5px 0 5px -5px #000000;
}
.main__article{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-items: center;
}
.blockquote__p{
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    padding: 10px;
    border-radius: 5px;
}
.blockquote__p::before {
    content: '\201C';
}

.blockquote__p::after {
    content: '\201D';
}
.figure__figcation{
    text-align: right;
    font-size: 30px;
    font-weight: bold;
}

.main__codeExample {
    background: #000;
    color: white;
    display: flex;
    margin: 80px;
    align-items: center;
    justify-items: center;
    height: auto;
    width: auto;
}
.codeExample__p{
    background: #000;
    text-align: left;
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
    font-size: 30px;
}
.main__bottomLinks{
    text-align: center;
    padding-bottom: 20px;
  }
.bottomLinks__list{
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
.bottomLinks__link{
    font-size: 30px;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    transition: 1s;
  }
.bottomLinks__link:hover{
    background: rgb(233, 169, 20);
    color: white;
    transform:scale(1.2f);
  }
.main__form{
    background-color: rgba(93, 87, 79, 0.909);
}
.form__list{
    padding: 30px;
}
.form__item-list{
    list-style: none;
    font-size: 30px;
    padding: 30px;
}
.form__item-input{
	width: 400px;
	font-size: 30px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
    color: #000;
	background: #F6F6f6;
	border-radius: 30px;
    text-align: center;
}
.form__item-textarea{
    height: 200px;
    width: 1000px;
    font-size:30px;
	background: #f6f6f6;
    color: #000;
	border: 1px solid #cecece;
	border-radius: 30px;
	padding: 8px 0 8px 10px;
}
.form__item-button {
    font: bold 11px arial;
    margin-left: 30px;
    text-align: center;
    width: 150px;
    height: 70px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: #ECB365;
    color: #064663

}
.form__item-checkbox{
    width: 30px;
    height: 30px;
    margin-right: 30px;
    cursor: pointer;
}
.tips__vid{
    padding: 0 5% 0 5%;
    width: 30%;
    height: 70%;
}
.tips__list{
    padding-left: 10%;
    padding-bottom: 10%;
}
.footer{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    width: 100%;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #ECB365;
    padding: 0 8%;
    box-shadow: 0 1px 20px rgba(0,0,0);
    width: 100%;
}
.footer__signature{
    width: 100%;
    text-align:center;
    margin-top: 4%;
    font-size: 30px;
    font-weight: 900;
    color: #000;
    text-decoration: none;
} 
.footer__signature:hover{
    font-size: 40px;
}
.footer__item{
    position:relative;
    float: left;
    padding: 20px;
    margin: 20px;
    list-style: none;
    

}
.footer__link{
    line-height: 0px;
    padding: 15px;
    color: #000;
    display: block;
    font-size: 20px;
    

}
.footer__link:hover{
    background: #000;
    color: #ECB365;
}

.main__fixedbox{
    margin-right: 5%;
    list-style: none;
    position: fixed;
    text-align: center;
    bottom: 10%;
    left: 3%;
    background-color: white;
}


.fixedbox__link{
    font-size: 20px;
    color: #000000;
    transition: .5s;
}
.main__fixedbox:hover{
    transform: scale(1.2);
}

.fexedbox__error{
    color: red  ;
}


.shadow-box {
    width: 100%;
    height: 50%;
    margin: 20px auto;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.75);
  }
  
  .shadow-box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(140, 255, 0, 0.75);
  }
  


@media(max-width: 965px)
{
    .main__fixedbox{
        margin-left: 3%;
        list-style: none;
        position: fixed;
        text-align: center;
        bottom: 10%;
        left: 3%;
        background-color: white;
    }
    .fixedbox__link{
        font-size: 15px;
        color: #000000;
        transition: .5s;
    }
}
@media (max-width:600px) {
    .main__OOPadvantages{
        font-size: 13px;
    }
    .codeExample__p{
        font-size: 13px;
    }
    .main__p{
        font-size: 15px;
    }
    .main__h1{
        font-size: 20px;
    }
    .main__h2{
        font-size: 18px;
    }

    .header__logo
    {
        background-color: #041C32;
        font-size: 20px;
        font-weight: 600;
        transition: .5s;
    }
    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 1%;
    }
    .main__fixedbox {
        margin-right: 5%;
        list-style: none;
        position: fixed; /* задаем абсолютную позицию для элемента "main__fixedbox" */
        text-align: center;
        bottom: 10%;
        left: 3%;
        right: 3%; /* задаем правую границу элемента */
        background-color: white;
      }
    .fixedbox__link{
        font-size: 15px;
        color: #000000;
        transition: .5s;
    }
    .main__tips{    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottomLinks__link{
        font-size: 13px;
    }
    .blockquote__p{
        font-size: 13px;
    }
    .figure__figcation{
        font-size: 15px;
    }
 }